<template name="appBody">
  <div id="container" class="{{menuOpen}} {{cordova}}">
    <section id="menu">
      <button class="btns-group"><a href="{{pathFor 'signin'}}" class="btn-secondary">Se connecter</a></button>
      <button class="btns-group"><a href="{{pathFor 'join'}}" class="btn-secondary">Enregistrer</a></button>
      <div class="list-todos">
        <a class="js-new-list link-list-new"><span class="icon-cog"></span>Paramètres</a>
        <a href="{{pathFor 'listsNouveaute'}}" class="list-todo" title="Les nouveautés">
            Page Accueil<span class="count-list">5</span>
        </a><a href="{{pathFor 'listsProduits'}}" class="list-todo" title="Nos produits">
            Nos Produits<span class="count-list">10</span>
        </a>
          <a href="{{pathFor 'listsConseils'}}" class="list-todo" title="Nos conseils">
              Nos Conseils<span class="count-list">0</span>
        </a>
      </div>
      <div class="list-todos">
          <a href="com.pharmagest.mapharmaciemobile://" class="list-todo" style="padding: 15px; text-align: center;vertical-align: sub;" title="Nos services">
              <span><img src="img/Icon_mpm.png" height="30" width="30"></span> Ma Pharmacie Mobile
          </a>
      </div>
    </section>
    <div id="content-container">
      {{> yield}}
    </div>
  </div>
</template>