<template name="listsNouveaute">
    <div class="page lists-show">
        <nav class="js-title-nav">
            <div class="nav-group">
                <a href="#" class="js-menu nav-item"><span class="icon-list-unordered" title="Show menu"></span></a>
            </div>

            <h1 class="js-edit-list title-page"><span class="title-wrapper">Marque Verte</span> <span class="count-list">5</span></h1>
        </nav>

        <div class="content-scrollable list-items">
            <div class="content-scrollable list-items">
                <iframe src="http://srveadpreprod.villers.pharmagest.com/index.html" height="100%" width="100%" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</template>
