<template name="listsProduits">
    <div class="page lists-show">
        <nav class="js-title-nav">
            <div class="nav-group">
                <a href="#" class="js-menu nav-item"><span class="icon-list-unordered" title="Show menu"></span></a>
            </div>

            <h1 class="js-edit-list title-page"><span class="title-wrapper">Nos produits</span> <span class="count-list">10</span></h1>
        </nav>

        <div class="content-scrollable list-items">
            <div class="list-item">
                <label type="checkbox">
                    <input type="checkbox" name="checked">
                    <span class="checkbox-custom"></span>
                </label>
                <input type="text" placeholder="Nom du produit" value="Produit 1">
            </div>
            <div class="list-item">
                <label type="checkbox">
                    <input type="checkbox" name="checked">
                    <span class="checkbox-custom"></span>
                </label>
                <input type="text" placeholder="Nom du produit" value="Produit 2">
            </div>
            <div class="list-item">
                <label type="checkbox">
                    <input type="checkbox" name="checked">
                    <span class="checkbox-custom"></span>
                </label>
                <input type="text" placeholder="Nom du produit" value="Produit 3">
            </div>
        </div>
    </div>
</template>
