<template name="listsNouveaute">
    <div class="page lists-show">
        <nav class="js-title-nav">
            <div class="nav-group">
                <a href="#" class="js-menu nav-item"><span class="icon-list-unordered" title="Show menu"></span></a>
            </div>

            <h1 class="js-edit-list title-page"><span class="title-wrapper">Marque Verte</span> <span class="count-list">5</span></h1>
        </nav>

        <div class="content-scrollable list-items">
            <div class="wrapper-message">
                <div class="title-message">Aucune nouveauté</div>
                <div class="subtitle-message">List de nouveauté</div>
            </div>
        </div>
    </div>
</template>
