<template name="listsProduits">
    <div class="page lists-show">
        <nav class="js-title-nav">
            <div class="nav-group">
                <a href="#" class="nav-item"><span class="icon-list-unordered" title="Show menu"></span></a>
            </div>

            <h1 class="title-page"><span class="title-wrapper">Nos produits</span> <span class="count-list">10</span></h1>

            <div class="nav-group right">
                <div class="options-web">
                    <a class="js-delete-list nav-item">
                        <span class="icon-trash" title="Delete list"></span>
                    </a>
                </div>
            </div>
        </nav>

        <div class="content-scrollable list-items">
            <iframe src="http://www.marqueverte.com" height="100%" width="100%" frameborder="0"></iframe>
        </div>
    </div>
</template>
